<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <!-- <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li> -->
  <!-- <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li> -->
  <li class="{% if page.url contains '/porfolio/' %} active {% endif %}"><a href="{{ "/porfolio/" | absolute_url }}">Porfolio</a></li>
  <li class="{% if page.url contains '/3d_print/' %} active {% endif %}"><a href="{{ "/3d_print/" | absolute_url }}">3d print</a></li>
  <li class="{% if page.url contains '/robotics/' %} active {% endif %}"><a href="{{ "/robotics/" | absolute_url }}">robotics</a></li>
  <li class="{% if page.url contains '/ai/' %} active {% endif %}"><a href="{{ "/ai/" | absolute_url }}">ai</a></li>
  <li class="{% if page.url contains '/chemistry/' %} active {% endif %}"><a href="{{ "/chemistry/" | absolute_url }}">chemistry</a></li>
  <li class="{% if page.url contains '/consultancy/' %} active {% endif %}"><a href="{{ "/consultancy/" | absolute_url }}">consultancy</a></li>
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <!-- <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li> -->
  <!-- <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li> -->
  <!-- <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li> -->
</ul>
